Source: tcos-configurator
Section: gnome
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 7.0.0), cdbs, python, python-support
Standards-Version: 3.8.0
Vcs-Git: http://tcosproject.org/git/tcos-configurator.git
Vcs-Browser: http://tcosproject.org/cgit/tcos-configurator.git/
Homepage: http://www.tcosproject.org

Package: tcos-configurator
Architecture: all
Depends: tcosconfig, gksu, python-gtk2, python-glade2, python-netifaces, 
         python-configobj, ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}
Description: PyGTK tool to configure some needed services to get a TCOS server
 Contains:
  * tcos-configurator

