Source: tcos-configurator
Section: gnome
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 4.0.0), cdbs, python, python-support
Standards-Version: 3.7.3
XS-Python-Version: >= 2.4
XS-Vcs-Browser: http://trac.tcosproject.org/browser/trunk/tcos-configurator
XS-Vcs-Svn: https://www.tcosproject.org/svn/tcos/trunk/tcos-configurator


Package: tcos-configurator
Architecture: all
Depends: tcosconfig, gksu, python-gtk2, python-glade2, 
         python-configobj, ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}
Description: PyGTK tool to configure some needed services to get a TCOS server
 Contains:
  * tcos-configurator

